*{
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-color: black;
}
.header{
	width: 100%;
	height: 70px;
	margin: 0px;
	padding: 10px 70px;
	background-color: black;
	box-sizing: border-box;
	border: 1px solid white;
	background: rgba(0,0,0,.8);
	box-shadow: 8px 8px 5px 4px green;
	
}
.header ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
.header ul li{
	list-style: none;
}
.header ul li a{
	line-height: 80px;
	color: #151515;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}
.header ul li a{
	color: #fff;
}
a{
	list-style: none;
	color: #fff;
}
.content{
	background-image: url("../imgs/backgrounds/fond.jpg");
	margin-top: 1%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	position: absolute;
	border: 1px solid white;
	background-size: cover;
	background-position: center;
}

.bod{
	width: 97%;
	height: 39px;
	margin-top: 39px;
	margin-left: 21px;
	text-align: center;
	text-decoration: underline;
	padding-top: 7px;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-decoration: uppercase;
	box-shadow: 8px 8px 5px 4px green;

 }
.bod_{
	width: 390px;
	height: 39px;
	margin-top: 11px;
	margin-left: 21px;
	text-align: left;
	text-decoration: underline;
	padding-top: 7px;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-decoration: uppercase;
	box-shadow: 8px 8px 5px 4px green;

 }
#cua_0 {
	border: 1px solid white;
	width: 87%;
	height: 89%;
	margin-top: 1%;
	color: white;
	box-shadow: 8px 8px 5px 4px green;
}
 p{
 	color: white;
 	padding: 1px;
 	opacity: .8;
 }
 p:hover {
 	border: 1px solid red;
 	color: white;
 	opacity: 1;
 }
 table{
 	background-color: black;
 	border: 1px solid white;
 	width: 1400px;
 	height: auto;
 	opacity: 0.8;
 }
 table tr{
 	background-color: black;
 	border: 1px solid white;
 	margin: 10px 10px 10px 10px;
 	box-shadow: 10px 10px 5px  0.8 green;
 }
 table tr td{
 	border: 1px solid white;
 	box-shadow: 8px 8px 5px 4px green;
 	opacity: 0.8;

 }
 iframe{
 	width: 98%;
 	height: 98%;
 }
 @media only screen and (max-width: 1600px){
	.content{
		max-width: 1600px;
		min-width: 1600px;
	}
}
@font-face {
  font-family: 'icomoon';
  src:  url('../imgs/iconmoon/fonts/icomoon.eot?r4qvk0');
  src:  url('../imgs/iconmoon/fonts/icomoon.eot?r4qvk0#iefix') format('embedded-opentype'),
    url('../imgs/iconmoon/fonts/icomoon.ttf?r4qvk0') format('truetype'),
    url('../imgs/iconmoon/fonts/icomoon.woff?r4qvk0') format('woff'),
    url('../imgs/iconmoon/fonts/icomoon.svg?r4qvk0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-home:before {
  content: "\e900";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-books:before {
  content: "\e920";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-windows8:before {
  content: "\eac2";
}