*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: black;
}
.header{
	width: 100%;
	height: 70px;
	margin: 0px;
	padding: 10px 70px;
	background-color: black;
	box-sizing: border-box;
	border: 1px solid white;
	background: rgba(0,0,0,.8);
}
.header ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
.header ul li{
	list-style: none;
}
.header ul li a{
	line-height: 80px;
	color: #151515;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}
.header ul li a{
	color: #fff;
}
.content{
	background-image: url("imgs/backgrounds/fond.jpg");
	margin-top: 0.5%;
	width: 100%;
	height: auto;
	height: auto;
	position: absolute;
	border: 1px solid white;
	background-size: cover;
	background-position: center;
	display: block;
}

.bod{
	width: 97%;
	height: 39px;
	margin-top: 19px;
	margin-left: 21px;
	text-align: center;
	text-decoration: underline;
	padding-top: 7px;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	background-color: grey;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-transform: uppercase;
 }
.bod_{
	width: 390px;
	height: 39px;
	margin-top: 11px;
	margin-left: 21px;
	text-align: left;
	text-decoration: underline;
	padding-top: 7px;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	background-color: grey;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
 }
 
 .ul_prin{
 	margin-top: 21px;
 	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-transform: uppercase;
	display: block;

 }
 .li_prin{
 	list-style: none;
 	width: 25%;
 	height: 5%;
 	margin-top: 5px;
	margin-left: 21px;
	text-align: left;
	text-decoration: underline;
	padding-top: 0;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 17px;
	border-radius: 5px;
	background-color: grey;
	opacity: 0.8;
	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-transform: uppercase;
 }
  .ul_sec{
 	margin-top: 21px;
 	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-transform: uppercase;
	display: block;

 }
 .li_sec{
 	list-style: none;
 	max-width: 400px;
 	min-width: 400px;
 	height: 5%;
 	margin-top: 5px;
	margin-left: 21px;
	text-align: left;
	text-decoration: underline;
	padding-top: 0;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 17px;
	border-radius: 5px;
	background-color: grey;
	opacity: 0.8;
	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-transform: uppercase;
 }
 .menu ul li:hover{
 	opacity: 1;
 }
 .menu ul li a{
 	color: white;
 	text-decoration: none;
 	text-transform: uppercase;
 }
 .menu ul ul{
			transition: all 1.4s;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 35%;
			top: 19%;
		}

.menu ul li:hover > ul{
			opacity: 1;
			visibility: visible;
		}

.menu ul li ul li{
	text-align: center;
}
.formulario {
	margin: auto;
	width: 380px;
 	height: 23px;
 	max-width: 380;
 	max-height: 23px;
	background: grey;
	padding: 14px;
	border: 1px solid white;
	border-radius: 5px;
	margin-top: 212px;
	margin-left: 21px;
	opacity: 0.8;
	margin-bottom: 12px;
	display: block;
}

.formulario:hover{
	opacity: 1;
}
.registro{
	float: left;
	margin-left: 74%;
	margin-top: -500px;
}

.registro input{
	width: 320px;
	height: 23px;
	border-radius: 5px;
	border: 1px solid white;
}

@media only screen and (max-width: 1600px){
	.content{
		max-width: 1600px;
		min-width: 1600px;
	}
}
li:hover{
	color: red;
	background-color: green;
	border: 1px solid white;
}
.li_prin:hover{
	color: red;
}

@font-face {
  font-family: 'icomoon';
  src:  url('imgs/iconmoon/fonts/icomoon.eot?r4qvk0');
  src:  url('imgs/iconmoon/fonts/icomoon.eot?r4qvk0#iefix') format('embedded-opentype'),
    url('imgs/iconmoon/fonts/icomoon.ttf?r4qvk0') format('truetype'),
    url('imgs/iconmoon/fonts/icomoon.woff?r4qvk0') format('woff'),
    url('imgs/iconmoon/fonts/icomoon.svg?r4qvk0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-home:before {
  content: "\e900";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-books:before {
  content: "\e920";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-windows8:before {
  content: "\eac2";
}