*{
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-color: black;
}
.header{
	width: 100%;
	height: 70px;
	margin: 0px;
	padding: 10px 70px;
	background-color: black;
	box-sizing: border-box;
	border: 1px solid white;
	background: rgba(0,0,0,.8);
}
.header ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
.header ul li{
	list-style: none;
}
.header ul li a{
	line-height: 80px;
	color: #151515;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}
.header ul li a{
	color: #fff;
}
.bod{
	width: 97%;
	height: 39px;
	margin-top: 39px;
	margin-left: 21px;
	text-align: center;
	text-decoration: underline;
	padding-top: 7px;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-decoration: uppercase;
 }
.bod_{
	width: 420px;
	height: 39px;
	margin-top: 11px;
	margin-left: 21px;
	text-align: left;
	text-decoration: underline;
	padding-top: 7px;
	padding-left: 7px;
	border: 1px solid white;
	color: white;
	font-size: 24px;
	border-radius: 5px;
	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-decoration: uppercase;
 }
.content{
	background-image: url("../../../imgs/backgrounds/fond.jpg");
	margin-top: 1%;
	width: 100%;
	height: auto;
	position: absolute;
	border: 1px solid white;
	background-size: cover;
	background-position: center;
}


#cua_0 {
	border: 1px solid white;
	width: 87%;
	height: 89%;
	margin-top: 1%;
	color: white;
	background-color: black;
	opacity: 0.8;
	text-align: left;
}
#cua_0:hover{
	opacity: ;
}

.contenedor{
	width: 180px;
	height: 230px;
	float:left;
	opacity: .6;
}
.contenedor:hover{
	opacity: ;
}

#color_b{
	width: 180px;
	height: 230px;
	transition: height .4s;
	background-color: black;
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	text-decoration: uppercase;
	border:1px solid black;

}

.icon{
	display: block;
	margin: 7px auto;
	background-color: rgba(255,255,255,.15);
	width: 110px;
	height: 120px;
	padding: ;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	transition: box-shadow .4s;
}
 .texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top: ;
	opacity: .6;
	transition: padding-top .4s;	/*Le ponemos padding-top
	porque queremos que le afecte a padding-top cuando pongamos
	el ratón encima de contenedor*/
}

.icon_return{
	margin-right: 2px;
	margin-top: 2px;
	margin-top: 0;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	padding-right: 7px;
}


.vpn{
	width:200px;
	height: 200px;
	padding: 47px;
}
.titulo{
	text-align: center;
	border: 1px solid white;
}
.tabla_1{
	border: 1px solid white;
	margin-bottom: 20px;
}
.tabla tr{
	border:1px solid white;
}
.tabla tr td{
	border: 1px solid white;
}
.tabla_2{
	color: white;
	border: 1px solid white;
	margin-top:;
	position: absolute;
}
.tabla_2 tr{
	width: 30px;
	height: 30px;
	color: #fff;
	border: 1px solid white;
}
.tabla_2 tr td{
	border: 1px solid white;
	padding: 7px;
	background-color: black;
}
.contenedor{
}
.titulo{
	text-decoration: underline;
}
p{
	border: 1px solid white;
	padding: 56px;
	margin-left: 3%;
	margin-right: 3%;
	background:white;
	color: black;
	font-size: 17px;
}
h2{
	text-decoration: underline;
}
